@page
@model ToDo.Pages.Todos.DeleteModel
<h2>Delete To-Do</h2>

<p>Are you sure you want to delete this?</p>
<p><strong>@Model.Todo.Title</strong></p>

<form method="post">
    <input type="hidden" asp-for="Todo.Id" />
    <button type="submit">Delete</button>
    <a asp-page="Index">Cancel</a>
</form>
